
h1 {
    font-size: 20px;
}

.fundoVermelho{
    background-color:red ;
}

.negrito{
font-weight: bold;
}

#textoPrincipal{
font-size: 40px;
font-weight: bold;
color:aliceblue ;
background-color: #444;
padding: 0px;
}

    
